h1 {
  text-align: center;
  color: white;
}
.custom-container-all {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 6px;
  margin: 20px auto;
}
.custom-container {
  width: calc(33% - 12px);
  overflow: hidden;
  height: fit-content;
  position: relative;
}
.custom-container img {
  width: 100%;
  transition-duration: .3s;
  max-width: 100%;
  display: block;
  overflow: hidden;
  border-radius: 10px;
  cursor: pointer;
}
.custom-title {
  position: absolute;
  cursor: pointer;
  top: 35%;
  display: none;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  font-size: 1.6em;
  text-shadow: 1px 5px 10px black;
  transition-duration: .3s;
}
.custom-text {
  position: absolute;
  top: 70%;
  cursor: pointer;
  max-width: 80%;
  text-align: center;
  left: 50%;
  text-shadow: 1px 5px 10px black;
  font-size: 1em;
  display: none;
  transition-duration: .3s;
  transform: translate(-50%, -50%);
}
.custom-container:hover img {
  transform: scale(1.2);
  transition-duration: .3s;
  filter: grayscale(50%);
  opacity: .7;
}
.custom-container:hover span {
  color: blue;
  display: block;
  transition-duration: .3s;
}
@media only screen and (max-width: 1024px) {
  .custom-container {
    width: calc(50% - 12px);
  }
}
@media only screen and (max-width: 768px) {
  .custom-container {
    width: calc(100% - 12px);
  }
}
